@model IEnumerable<MvcCoreDemo.Models.TweetViewModel>

@{
    ViewBag.Title = "Home Timeline";
}

<h2>Home Timeline Demo</h2>

<table class="table table-bordered table-hover table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ImageUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ScreenName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Text)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img src="@item.ImageUrl" alt="@item.ScreenName" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ScreenName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Text)
                </td>
            </tr>
        }
    </tbody>
</table>
