@model MvcDemo.Models.SendTweetViewModel

@{
    ViewBag.Title = "Tweet";
}

<h2>Tweet</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Tweet Demo</h4>
        <hr />
        @Html.ValidationSummary(true)
        <div class="form-group">
            @Html.LabelFor(model => model.Text, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Text, new { @class = "form-control", rows = "3" })
                @Html.ValidationMessageFor(model => model.Text)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Send" class="btn btn-default" />
            </div>
        </div>
        <div class="col-md-offset-2 col-md-10">
            @Html.DisplayFor(model => model.Response)
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
