@model LinqToTwitter.MVC.CSharp.Models.MediaViewModel

@{
    ViewBag.Title = "Upload Image";
}

<h2>Upload Image</h2>

<div>
    <h4>Image Details</h4>
    <hr />
    <p>
        Note: This part of the demo only works with OAuth 1.0a. 
        To use OAuth 1.0a, visit the HomeController.Index and 
        switch the redirection to "OAuth" instead of "OAuth2".
    </p>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MediaUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MediaUrl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Text)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Text)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
